.dropdown-menu {
  border-radius: 0%;
  border: 1px solid rgba(128, 128, 128, 0.349);
}
.dropdown-menu .dropdown-item {
  margin: 5px 0px;
  padding: 8px 80px 8px 40px;
}
@media (max-width: 992px) {
  .dropdown-menu {
    max-width: 400px;
  }
}
@media (max-width: 325px) {
  .dropdown-menu {
    padding: 5px 20px 5px 0px;
    max-width: 200px;
  }
}

.active {
  color: #107896 !important;
  font-weight: 600;
}

#modalBookTitle {
  color: #107896 !important;
}

.form-select {
  width: 40%;
  padding: 1%;
}
@media (max-width: 992px) {
  .form-select {
    width: 100%;
  }
}
.form-select option {
  padding: 100px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Adjust the opacity by changing the last value (0.5 in this case) */
  display: flex;
  align-items: center;
  justify-content: center;
}

#carusel-content h2 {
  color: white;
  padding: 0px 15%;
}

#carusel-content p {
  color: white;
  padding: 0px 20%;
}

.carousel-item {
  min-width: 100%;
  height: 70vmin;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 767.98px) {
  #logoo {
    order: 3;
    display: none;
  }
  .hii {
    order: 2;
  }
  .rdd {
    order: 1;
  }
  #home p {
    font-size: small;
  }
}
@media (max-width: 574px) {
  .carousel-item {
    height: 100vmin;
  }
}
@media (min-width: 574px) {
  .carousel-item {
    height: 70vmin;
  }
}
@media (max-width: 6.98px) {
  #home p {
    font-size: x-small;
  }
}
.model-content {
  display: flex;
  align-items: center;
}
.model-content h3 {
  color: #107896;
}
.model-content p {
  margin-left: 30px;
}

#modalBookTitle {
  color: black;
}

.container-contact {
  width: 100%;
  padding: 80px 0;
  padding-bottom: 100px;
  background-color: rgba(241, 241, 241, 0.5882352941);
}
@media (max-width: 500px) {
  .container-contact {
    padding: 80px 0px;
  }
  .container-contact .contact-wrap {
    width: 90%;
  }
}

.contact-form {
  width: 100%;
  padding: 30px 60px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(110, 89, 89, 0.1);
}
@media (min-width: 768px) {
  .contact-form {
    width: 45%;
  }
}
@media (max-width: 768px) {
  .contact-form {
    order: 1;
  }
}
@media (max-width: 768px) {
  .contact-form {
    padding: 30px 20px;
  }
}

.label-input {
  font-size: 18px;
  color: #555;
  margin-top: 20px;
}

.input-field {
  width: 100%;
  padding: 15px;
  border: 1px solid rgba(124, 124, 124, 0.5411764706);
  margin-top: 5px;
}

.form-btn {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.submit-btn {
  width: 200px;
  padding: 15px;
  background-color: #107896;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
@media (max-width: 508px) {
  .submit-btn {
    width: 100px;
  }
}

.contact-wrap {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-info {
  width: 100%;
  height: 770px;
  background-size: cover;
  color: #fff;
}
@media (min-width: 768px) {
  .contact-info {
    width: 45%;
  }
}
@media (max-width: 768px) {
  .contact-info {
    order: 2;
  }
}
@media (max-width: 1297px) {
  .contact-info {
    height: 820px;
  }
}

.OverlayColor {
  background: linear-gradient(to right top, rgba(0, 0, 0, 0.8549019608), rgba(0, 0, 0, 0.635));
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.info-block {
  display: flex;
  align-items: center;
  height: 100px; /* Set the height to 100% */
  padding: 0px 9%;
  margin: 20px 0px;
}

.info-icon {
  font-size: 30px;
  margin-right: 10px;
}

.info-title {
  display: flex;
  margin-bottom: 20px;
  color: white;
  font-size: 18px;
}

.info-text {
  color: #b5b5b5;
}

.info-block .third, .info-block .second {
  color: #107896;
  font-size: 16px;
}
.info-block .first {
  font-size: 16px;
}

.footer {
  padding: 50px 10px !important;
}

.navbar-brand > img {
  max-height: 60px;
}/*# sourceMappingURL=styles.css.map */